<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link href="{qcms:css_path}bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{qcms:css_path}bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container-fluid" style="padding-top:200px;">
  <div class="row-fluid">  
    <div class="span4">
&nbsp;
    </div>
    <div class="span4">
    <p><h1><img src="{qcms:logo}"/></h1></p>
 <form method="post" action="" name="login">
帐号&nbsp;：&nbsp;
   <input name="username" class="input11" id="username" size=35 /><br>
密码&nbsp;：&nbsp;
   <input name="password" type="password" class="input11" id="password" size=42><br>
代码&nbsp;：&nbsp;
   <input size=42 name="code" type="password" class="input11" id="code"><br>

  <input  type="submit" value="&nbsp;登录&nbsp;" id="login" class="btn btn-large btn-primary" />&nbsp;
  <input type="reset"  value="&nbsp;重置&nbsp;" id="login" class="btn btn-large" /> 
 </form>
 © Copyright 2008 - 2012 {qcms:copyright} v1.7.0 版权所有
    </div>
    <div class="span4">
&nbsp;
    </div>
  </div>
</div>
</body>
</html>                